export ZEN_API_BASE="https://sushizen-shift-app-038d846023bc.herokuapp.com"
export ZEN_HEROKU_APP="sushizen-shift-app"
export ZEN_FRONTEND_DIR="/Users/jaynishimura/Desktop/sushizen-shift-pwa"
export ZEN_BACKEND_DIR="/Users/jaynishimura/Desktop/sushizen_shift_app_clean"

export ZEN_APPROVER="Yukihiro Nishimura"
export ZEN_PIN="1234"

export ZEN_DRIVE_SOURCE_ID="1"
export ZEN_DRIVE_FOLDER_ID="1t562gVuaNupDUTuGjaRz-3u4mF-LXr4Y"